# 상대 경로: lombok.config
#
# Lombok 이 생성하는 @RequiredArgsConstructor / @AllArgsConstructor 의 생성자 파라미터에
# 아래 어노테이션들을 그대로 복사하여 Spring DI 결선이 정상 동작하게 한다.
#
# 이 설정이 없으면 필드에 붙은 @Qualifier / @Value 가 Lombok 생성자에 전달되지 않아
# 같은 타입의 빈이 여럿일 때 의도와 다른 빈이 주입될 수 있다.

lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
